.navimg{
    color: transparent;
    width: 32px;
    height: 32px;
}
.testimonials{
    text-align: center;
    /* background-color: #ef8172;
    color: #fff; */
}
.Testimonials-img{
    margin: auto;
  }
  /* Custom CSS */
.carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%; /* Ensures carousel items take full height */
}

.Testimonials-img {
    max-width: 100%; /* Ensures images don't exceed container width */
    width: 555px;
}
#features{
    padding: 7% 15%;
    background-color: #787474;
    position: relative;
    z-index: 1;
}
.icon{
    /* color: #ef8172; */
    margin-bottom: 1rem;
    margin-bottom: 10px;
}
.icon:hover{
    color: #837578;
}
#features{
    margin-top: 80px;
    padding: 7% 15%;
    background-color: #eae5e562;
    position: relative;
    z-index: 1;
}
/* Custom CSS */
#testimonials2 h2 {
    margin-bottom: 30px; /* Add some bottom margin for spacing */
}
.Testimonials2-img {
    max-width: 100%; /* Ensures images don't exceed container width */
    width: 555px;
}

#footer{
    padding: 7% 15%;
    text-align: center;
    background-color: #eae5e562;
}
.social-icon{
    margin:20px 10px;
    color:black;
}
.social-icon:hover{
    color:#ff4c68;
}

/* .navbar.fixed-top {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: #ffffff; /* Adjust as needed */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); Optional: Add shadow for better visibility */
/* } */

/* Add margin-top to body to compensate for the fixed navbar */
/* body { */
    /* margin-top: 56px; Adjust according to your navbar height */
/* } */ 
.card-img-top {
    height: 200px; /* Adjust as needed */
    object-fit: cover; /* Ensure the image covers the entire space */
}
.move{
    padding-left: 200px;

}
/* .mok .nav-item {
    flex: 1;
    text-align: center;
}

.mok .nav-link {
    padding: 1rem; /* Adjust as needed */
/* }  */

.ok{
    width: 87px;
    height: 24px;
    position: relative;
    margin-left: 200px;
    box-sizing: border-box;
    overflow: visible;
    visibility: inherit;
}
.spnav{
    margin-left: 50px;
}
.mnav{
    margin-left: 50px;
}
.topnav{
    margin-left: 100px;
    margin-right: 0px;
}
.unortop{
    /* margin-left: 80px; */
}
.topli{
    margin-left: 20px;
}